# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.UnityLab.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Storage\UnityLab\.idea\.idea.UnityLab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
